.back{
    -fx-background-color: #5ebde8;
}
.back:hover{
    -fx-background-color: #0fee21;
}
.assign{
    -fx-background-color: #00fc84;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-border-color: #5ebde8;
}
.assign:hover{
    -fx-background-color: #de6cd2;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-border-color: #5ebde8;
}
.border{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 0 2 2 2;
    -fx-border-color: WHITE;
}
.rankHeader{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 0 2 2 2;
    -fx-border-color: #de6cd2;
    -fx-background-color: #de6cd2;
}
.menubar{
    -fx-background-color: #0b616b;
    -fx-background-radius: 0 30 30 0;
    -fx-border-width:  10;
    -fx-border-radius:  0 30 30 0;
}
.menubar:hover{
    -fx-background-color: #22363a;
    -fx-background-radius: 0 30 30 0;
    -fx-border-width:  0;
    -fx-border-radius:  0 30 30 0;
}
.optionbar{
    -fx-border-color:  #08f4fc;
    -fx-border-width:  0 0 2 0;
    -fx-border-radius:  10;
}
.optionbar:hover{
    -fx-border-color: red;
}
#dlt{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 0 2 2 2;
    -fx-border-color: WHITE;
    -fx-background-color: BLACK;
    -fx-text-fill: WHITE;
}
#dlt:hover{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 0 2 2 2;
    -fx-border-color: WHITE;
    -fx-text-fill: #8aff00;
}
.crtGroup{
    -fx-border-color: #344fff;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 3;
}
.crtGroupTextField{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: transparent;
}

